<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Location</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <h1>Submit Location</h1>
    <div class="container mt-5">
        <form action="/location/update" method="post">
            <div class="mb-3">
                <input type="hidden" name="location_id" value="{{location_id}}" required>
                <label for="location_name">Location name: </label><a href="/location/update/{{location_id}}">Update</a></label>
                <input type="text" class="form-control" name="location_name" id="location_name" value="{{location_name}}" required>
                <br>
                <button type="submit" class="btn btn-danger"value="Submit">Update</button>
            </div>
        </form>
    </div>
    <!--<div class="container mt-5">
        <form action="/location/add" method="post">
            <div class="mb-3">
                <input type="hidden" name="location_id" value="{{location_id}}" required>
                <label for="location_name">Location id: {{location_id}}</label><br>
                <label for="location_name">Location name:</label> <a href="/location/add/{{location_id}}">Add</a>
                <input type="text" class="form-control" id="location_name" name="location_name" value="{{location_name}}" required>
            </div>
            <br>
            <button type="submit" class="btn btn-danger"value="Submit">Add</button>
        </form>
    </div>-->
</body>
</html>