<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="icon" type="image/x-icon" href="../logo/favicon.ico">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style/admin.css">
    <link rel="stylesheet" href="../style/sticky.css">

</head>

<body>
    <div class="col">
        <div class="row header text-center" style="background-color: #5800bb;">
            <div class="col-md-3">
                <a href="/g65102/main"><img class="logo" src="../img/Logo_side_full.png" alt="logo"></a>
            </div>
            <div class="col-md-6">
                <h1 class="head-text">UP LOST AND FOUND</h1>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #eba800;">
                <div class="container-fluid">
                    <button class="navbar-brand navbar-toggler d-block" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu" aria-controls="navbarToggleExternalContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand home" href="/g65102/main">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item item">
                                <a class="nav-link" href="/g65102/member">Your account</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <!-- <button class="btn btn-danger" data-bs-toggle="offcanvas" data-bs-target="#side-menu"><i class="bi bi-list"></i></button> -->
        <div class="row">
            <div class="offcanvas offcanvas-menu offcanvas-start" tabindex="-1" id="side-menu"
                aria-labelledby="side-menu">
                <div class="offcanvas-header">

                    <div class="row">
                        <div class="col-md-6">
                            <a href="/g65102/member"><img style="border-radius:50%;" id="user-image"
                                    src="/{{#results}}{{userImage}}{{/results}}" alt="profile"></a>
                        </div>
                        <div class="col-md-6 text-black-50 text-end">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <h3 style="margin: 10px;">{{#results}}{{username}}{{/results}}</h3>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <button class="menu-button btn offcanvas-button" onclick="window.location.href='/g65102/member'">Your
                        Account</button>
                    <button class="menu-button btn offcanvas-button" onclick="window.location.href='/g65102/logout'">Log
                        out</button>
                </div>
            </div>
        </div>
        <div class="row aside" id="show-info">
            <div class="col-12">
                <div class="main-layout">
                    <div class="col-11 main-layout text-center">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                <tr id="userData">
                                    <td class="name">65021420 Jirawat Janjobtam</td>
                                    <td class="role">Admin - Fullstack</td>
                                    <td class="contact"><a href="https://www.facebook.com/Hashima.Soyaka/" class="btn offcanvas-button">Contact</a> </td>
                                </tr>
                                <tr id="userData">
                                    <td class="name">65021341 Kanyakorn Somprasong</td>
                                    <td class="role">Frontend</td>
                                    <td class="contact"><a href="https://www.facebook.com/kigcazy" class="btn offcanvas-button">Contact</a> </td>                                </tr>
                                <tr id="userData">
                                    <td class="name">65022140 Wimonat Ratchanet</td>
                                    <td class="role">Frontend</td>
                                    <td class="contact"><a href="https://www.facebook.com/profile.php?id=100015267003865" class="btn offcanvas-button">Contact</a> </td>                                </tr>
                                <tr id="userData">
                                    <td class="name">65021329 Krittima Sankrajue</td>
                                    <td class="role">Frontend</td>
                                    <td class="contact"><a href="https://www.facebook.com/kittima.jasae" class="btn offcanvas-button">Contact</a> </td>                                </tr>
                                <tr id="userData">
                                    <td class="name">65021611 Duangkamon Somwaeng</td>
                                    <td class="role">Frontend</td>
                                    <td class="contact"><a href="https://www.facebook.com/search/top?q=duangkamon%20somwaeng" class="btn offcanvas-button">Contact</a> </td>                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>