
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../logo/favicon.ico">
    <link rel="stylesheet" href="../style/style-login.css"> </head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <div class="wrapper">
        <form action="/g65102/verify" id="login-form" method="post">
            <h1>LOGIN</h1>
            <div class="input-box">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="USERNAME" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="PASSWORD" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="/g65102/register">REGISTER</a></p>
            </div>
        </form>
        <div class="mb-3 text-danger register-link">
            {{msg}}
        </div>
    </div>

</body>

</html>