<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Signup</title>
    <link rel="icon" type="image/x-icon" href="../logo/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style-signup.css">
</head>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <div class="wrapper" style="width: 650px;">
        <h2 class="text-center">Sign Up</h2>
       
        <form action="/g65102/signup" enctype="multipart/form-data" id="login-form" method="post">
            <div class="form-row">
                <div class="form-input">
                    <div class="preview">
                        <img id="show-profile" src="../img/prof2.jpg">
                    </div>
                    <label for="profile">Upload profile</label>
                    <input type="file" name="profile" value="D:\65021420\Lab06\login\static\img\prof2.jpg" id="profile" accept="image/*" onchange="showPreview(event);">
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group col-md-6">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                        required>
                </div>
                <div class="input-box form-group col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group col-md-4">
                    <label for="studentid">Student ID:</label>
                    <input type="text" class="form-control" name="studentid" id="studentid" placeholder="Student ID"
                        required>
                </div>
                <div class="input-box form-group col-md-4">
                    <label for="firstname">First name:</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name"
                        required>
                </div>
                <div class="input-box form-group col-md-4">
                    <label for="lastname">Last name:</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group">
                    <label for="x">Confirm password:</label>
                    <input type="password" class="form-control" name="confirmpassword" id="x"
                        placeholder="confirmpassword">
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group col-md-6">
                    <label for="faculty">Faculty:</label>
                    <input type="text" class="form-control" name="faculty" id="faculty" placeholder="Faculty" required>
                </div>
                <div class="input-box form-group col-md-6">
                    <label for="major">Major:</label>
                    <input type="text" class="form-control" name="major" id="major" placeholder="Major" required>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group col-md-12">
                    <label for="phonenumber">Phone number:</label>
                    <input type="text" class="form-control" name="phonenumber" id="phonenumber"
                        placeholder="123-456-789" required>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group ">
                    <label for="facebook">Facebook:</label>
                    <input type="text" class="form-control" name="facebook" id="facebook" placeholder="Facebook">
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group">
                    <label for="instagram">Instagram:</label>
                    <input type="text" class="form-control" name="instagram" id="instagram" placeholder="Instagram">
                </div>
            </div>
            <div class="form-row">
                <div class="input-box form-group">
                    <label for="x">X:</label>
                    <input type="text" class="form-control" name="x" id="x" placeholder="X">
                </div>
            </div>
            <button type="submit" class="btn btn-primary signup">Sign up</button>

        </form>
        <div class="mb-3 text-danger">
            {{msg}}
        </div>
    </div>
    <script>document.setdefault.submit();</script>
    <script type="text/javascript">
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("show-profile");
                preview.src = src;
                preview.style.display = "block";
            }
        }
    </script>
</body>

</html>