body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(255, 64, 64);
    color: rgb(228, 228, 236);
    padding: 20px;
    text-align: center;
}

.logo{
    height: 7em;
    width:  7em;
    object-fit: cover;
}

.aside{
    background-color: #f4f4f4;
}

.menu-button{
    width: 150px;
    margin: 10px;
}

.footer{
    background-color: rgb(80, 39, 228);
    color: white;
    padding: 10px 0px;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    /* border: none; */
    background-color: transparent;
}

.user-image{
    height: 5em;
    width:  5em;
    object-fit: cover;
    border-radius: 50%;
}


.offcanvas-menu{
    width: 300px;   
    position: fixed;
}

#show-image{
    height: 10em;
    object-fit: cover;
}

#posted-link{
    color: black;
}
#posted-link:hover{
    color: black;
}

#user-image{
    height: 7em;
    width:  7em;
    object-fit: cover;
}
