<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container login-container">
        <h2 class="text-center mb-4">Login</h2>
        <form action="/member/verify" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>

            <div class="mb-3 text-danger">
                {{msg}}
            </div>

        </form>
    </div>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container login-container">
        <h2 class="text-center mb-4">Login</h2>
        <form action="/member/verify" id="login-form" method="post">
            <div class="form-group mb-3">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <div class="mb-3 text-danger">
                <a href="/member/register" class="text-primary text-end" style="color:red;">Don't have an account?</a>
            </div>
        </form>
        <div class="mb-3 text-danger">
            {{msg}}
        </div>
    </div>
    
</body>
</html>
