<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 4</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/sticky.css">

</head>

<body>
    <div class="row header">
        <div class="col-10 text-black-50">
            <h1>WELCOME
                {{#username}}
                    {{.}}
                    <a href="/member/logout" class="text-light text-end">Logout</a>
                {{/username}}
            </h1>
        </div>
    </div>
    <button class="btn btn-danger"
            data-bs-toggle="offcanvas"
            data-bs-target="#side-menu"
    >show menu</button>
    <div class="offcanvas offcanvas-start" id="side-menu">
        <div calss="offcanvas-header">
            <div class="offcanvas-title">MENU</div>
            <button class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <li>Main</li>
                <li>Contact</li>
                <li>About</li>
            </ul>
        </div>
    </div>
    
    <div class="row aside" id="show-info">
        
        <div class="col-8">
            <div class="main-layout">
                <div class="col-11 main-layout text-center">
                    {{#results}}
                        <div id="stick1">
                            <h2 class="post-head">{{username}}</h2>
                            <br>
                            {{details}}
                        </div>
                    {{/results}}
                    <!--<div id="stick2">Sticky Note 2</div>
                    <div id="stick3">Sticky Note 3</div>-->
                    {{! <div id="stick1">sticky 2 </div> }}
                    
                </div>
            </div>

        </div>
        {{! <button class="adder">
            <div> + </div>
        </button> }}
        
    </div>
    <script src="../style/stycky.js"></script>
</body>

</html>