<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 4</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/sticky.css">

</head>

<body>
    <div class="row header">
        <div class="col-10 text-black-50">
            <h1>WELCOME
                {{#username}}
                    {{.}}
                    <a href="/member/logout" class="text-light text-end">Logout</a>
                {{/username}}
            </h1>
        </div>
    </div>

    <button class="btn btn-danger" data-bs-toggle="offcanvas" data-bs-target="#side-menu">show menu</button>
    <div class="offcanvas offcanvas-menu offcanvas-start" tabindex="-1" id="side-menu" aria-labelledby="side-menu">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images,
                lists, etc.
            </div>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> 
        </div>
    </div>

    <div class="row aside" id="show-info">
        <div class="col-2"></div>
        <div class="col-8">
            <!--<div class="main-layout">
                <div class="col-11 main-layout text-center">
                    {{#results}}
                        <div id="stick1">
                            <h2 class="post-head">{{username}}</h2>
                            <br>
                            {{details}}
                        </div>
                    {{/results}}
                    
                    
                </div>
            </div>-->
            <!--<div class="d-flex main-layout">
                {{#results}}
                <div class="card col-11 main-layout text-center">
                    <img class="card-img-top" src="https://3fc4ed44-3fbc-419a-97a1-a29742511391.selcdn.net/coub_storage/coub/simple/cw_timeline_pic/39efe3ad455/ab51f9bb072e70f5b0bc8/1529541968_image.jpg">
                    <div calss="card-body" id="stick1">
                        <h2 class="post-head">{{username}}</h2>
                        <br>
                        {{details}}
                    </div>
                </div>
                {{/results}}
            </div>
        </div>-->
            <div class="main-layout">
                {{#results}}
                    <a href="#" id="posted-link">
                        <div class="card main-layout text-center" id="stick1" style="width: 18rem;">
                            <img class="card-img-top"
                                src="https://i.pinimg.com/736x/e6/37/de/e637de14f3e137b0e4e213ef4ff0c7d5.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{username}}</h5>
                                <div>
                                    <p class="card-text text-center" style="height: 10em;">{{details}}</p>
                                    <p class="card-text text-buttom">{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/results}}
            </div>
            {{! <button class="adder">
            <div> + </div>
        </button> }}

        </div>
        <script src="../style/stycky.js"></script>
</body>

</html>