<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter 4</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/sticky.css">

</head>

<body>
    <div class="row header">
        <div class="col-10 text-black-50">
            <h1>WELCOME
                {{#username}}
                    {{.}}
                    <a href="/member/logout" class="text-light text-end">Logout</a>
                {{/username}}
            </h1>
        </div>
    </div>
    <div class="row aside" id="show-info">
        <div class="col-2" id="side-menu">
            <h3>Menu</h3>
            <ul>
                <li>Main</li>
                <li>Contact</li>
                <li>About</li>
            </ul>

        </div>
        <div class="col-8">
            <div class="main-layout">
                <div class="col-11 main-layout text-center">
                    {{#results}}
                        <a href="#">
                        <div id="stick1">
                            <h2 class="post-head">{{username}}</h2>
                            <br>
                            {{details}}
                            <p class="text-end">{{detail_time}}</p>
                        </div>
                        </a>
                    {{/results}}
                    <!--<div id="stick2">Sticky Note 2</div>
                    <div id="stick3">Sticky Note 3</div>-->
                    {{! <div id="stick1">sticky 2 </div> }}
                    <button class="adder" onclick="window.location.href='/member/add';">
                        Add info
                    </button>
                </div>
            </div>

        </div>
        {{! <button class="adder">
            <div> + </div>
        </button> }}
        <button class="adder" onclick="window.location.href='/member/add';">
            Add info
        </button>
    </div>
    <script src="../style/stycky.js"></script>
</body>

</html>