<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP Lost and Found</title>
    <link rel="icon" type="image/x-icon" href="../logo/favicon.ico">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../style/post.css">
    <link rel="stylesheet" href="../style/sticky.css">

</head>

<body>
    <div class="row header text-center" style="background-color: #5800bb;">
        <div class="col-md-3">
            <a href="/g65102/main"><img class="logo" src="../img/Logo_side_full.png" alt="logo"></a>
        </div>
        <div class="col-md-6">
            <h1 class="head-text">UP LOST AND FOUND</h1>
        </div>
    </div>
    <nav class="row navbar navbar-expand-lg navbar-light " style="background-color: #eba800;">
        <div class="container-fluid">
            <button class="navbar-brand navbar-toggler d-block" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#side-menu" aria-controls="navbarToggleExternalContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand home" href="/g65102/main">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item item">
                        <a class="nav-link" href="/g65102/member">Your account</a>
                    </li>
                    <li class="nav-item item">
                        <a class="nav-link" href="/g65102/contact">Contact us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- <button class="btn btn-danger" data-bs-toggle="offcanvas" data-bs-target="#side-menu"><i class="bi bi-list"></i></button> -->
    <div class="offcanvas offcanvas-menu offcanvas-start" tabindex="-1" id="side-menu" aria-labelledby="side-menu">
        <div class="offcanvas-header">

            <div class="row">
                <div class="col-md-6">
                    <a href="/g65102/member"><img style="border-radius:50%;" id="user-image"
                            src="/{{#user}}{{userImage}}{{/user}}"></a>
                </div>
                <div class="col-md-6 text-black-50 text-end">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <h3 style="margin: 10px;">{{#user}}{{username}}{{/user}}</h3>
            </div>
        </div>
        <div class="offcanvas-body">
            <button class="menu-button btn offcanvas-button" onclick="window.location.href='/g65102/member'">Your
                Account</button>
            <button class="menu-button btn offcanvas-button" onclick="window.location.href='/g65102/logout'">Log out</button>
        </div>
    </div>

    <!--เนื้อหาาาาาาาาาาา-->
    <div class="row aside" style="background-color: white;">
        <div class="col-2" id="side-menu"></div>
        <div class="col-8">
            {{#results}}
                <div class="main-layout">
                    <div class="row showuser" style="background-color: #dbdbdb;">
                        <form action="/g65102/users" id="userinfo" method="post">
                            <input type="hidden" id="username" name="username" value="{{username}}">
                            <input type="hidden" id="userID" name="userID" value="{{userID}}">
                            <button type="submit" style="background:transparent; border:none;">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img id="user-image" src="/{{userImage}}" alt="user-profile"
                                            style="border-radius:50%; margin: 5px;">
                                    </div>
                                    <div class="col-md-10">
                                        <h3 style="margin: 25px;">{{username}}</h3>
                                    </div>
                                    <div>
                            </button>
                        </form>
                    </div>
                    <div class="row" style="background-color: white;">
                        <div class="col showdetail">
                            <div class="row" style="margin:5px;">
                                <div class="status">
                                    <p>Status:{{status}}</p>
                                    <p class="text-start date" id="datetime" style="font-size:14px;">{{detail_time}}</p>
                                </div>
                            </div>
                            <div class="row-mb-5">
                                <img class="post" id="imgpost" src="/{{image}}" alt="img">
                            </div>
                            <div class="row">
                                <div id="content">

                                    <p id="detail">Detail: <br>{{details}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {{/results}}
        </div>
    </div>
    <!--จบ-->

    <script src="../style/stycky.js"></script>
    <script>
        img = document.getElementById('imgpost')
        console.log(img.src)
        src = img.getAttribute('src')
        console.log(src)
        if (src == '/') {
            img.style.display = "none"
        } else {
            console.log('src')
        }
    </script>

</body>

</html>