/*ฟอนต์headeer*/
h1{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
/*กรอบส่วนหัวMenu*/
h3{
    background-color:#ffb700;
    list-style-type: none;
    text-align: center;
    float: right;
    width: 226px;
    height: 30px; 
    margin: 3px auto;
    padding: 2px;
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 15px;
   
}

/*กรอบส่วนตัวเลือกเมนู*/
li{
    list-style-type: none;
    float: right;
    width: 200px;
    height: 20px; 
    margin: 2px auto;
    padding: 2px;
    margin-right: 10px;
    background-color:#ffffff;

}
/*สีพื้นหลังกรอบเมนูเวลาคลิก*/
li:hover{
    background-color: #000000;
   
}
