
.wrapper{
    display: flex;   
    flex-flow: row wrap;
}

.wrapper > *{
    flex: 1 100%;
}

@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .side1{
        order: 1;
    }
    .side2{
        order: 2;
    }
    .main{
        order:2;
    }
    .footer{
        order: 4;
    }
}

@media all and (min-width:600px){
    .side{
        flex: 1;
    }
}